body {
  background-color: #0079bf;
}
.wrapper {
  box-sizing: border-box;
  padding: 3px;
  font-family: sans-serif;
  /* Set background to Trello blue */
}

.board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex;
}

.drop-zone {
  border: 2px solid transparent;
  background-color: #eee;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  height: auto;
}

.drop-zone.over {
  border: 2px dashed #333;
}

.drop-zone h1 {
  margin: 0 0 8px;
  font-size: 1em;
}

.lane {
  margin: 0;
  padding: 0;
}

.lane li {
  cursor: move;
  list-style: none;
  padding: 5px 10px;
  background-color: #fff;
  margin-bottom: 7px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  font-size: 0.93em;
}
